.overlook-info {
  @include flexbox(row);
  @include flex(space-around, space-around, wrap);
  width: 100%;
  @include tablet {
    display: none;
  }
}

.room-view {
  @include flexbox(row);
  @include flex(space-around, space-around, wrap);
  height: 100%;
  overflow: scroll;
  @include tablet {
    padding: 2rem 0;
  }
}

.room-card {
  @include flexbox(column);
  @include flex(space-between, center);
  margin: 0.4rem 0.4rem;
  border-radius: 5px;
  padding: 0.2rem 0.2rem;
  color: $color-transparent-dark;
  background: $color-primary;
}

.room-card {
  > p {
    background: $color-transparent-light;
  }
}

.login-form {
  @include tablet {
    @include flexbox(column);
    @include flex(space-between, center);
    height: 10rem;
  }
  > input {
    margin: 0.4rem 0;
  }
}
