@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap");

// Colors
$color-primary: rgb(149, 157, 122);
$color-secondary: hsla(67, 50%, 76%, 1);
$color-tertiary: hsla(51, 95%, 84%, 1);
$color-quaternary: hsla(43, 83%, 72%, 1);
$color-quinary: rgb(94, 57, 23);
$color-transparent-dark: hsla(2, 0, 0, 0.9);
$color-transparent-light: hsl(0, 0%, 100%, 0.9);
// Font
$font-family: "Roboto Slab", serif;
$default-size: 1rem;
