// class tools
.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// mixins
@mixin flexbox($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin flex($align, $justify, $wrap: nowrap) {
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
}

@mixin phone {
  @media only screen and (max-width: 600px) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (max-width: 1000px) {
    @content;
  }
}
