* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-family;
}

body {
  height: 100vh;
  width: 100vw;
  line-height: 1.6rem;
  color: $color-transparent-light;
  text-transform: capitalize;
}

main {
  height: 80%;
}

header,
footer {
  height: 10%;
}

ol,
ul {
  list-style: none;
}

button {
  text-transform: none;
  font-family: $font-family;
  font-weight: bolder;
  font-size: 1.6rem;
  border: none;
  background: none;
  color: $color-quaternary;
  cursor: pointer;
  position: relative;
  transition: 1s;
  &:hover,
  &:focus {
    color: $color-tertiary;
  }
  &:before {
    content: "";
    border-bottom: 4px solid $color-tertiary;
    border-spacing: 0.2rem;
    transition: 0.5s;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
  }
  &:hover:before {
    width: 100%;
    border-bottom: 4px solid $color-tertiary;
    opacity: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
  font-size: $default-size;
}
