body {
  @include flexbox(column);
  @include flex(space-between, center);
}

h1 {
  align-self: center;
  font-size: 5rem;
  @include tablet {
    font-size: 3rem;
    align-self: unset;
    margin-top: 0.3rem;
  }
}

h2 {
  align-self: flex-end;
  margin-left: auto;
  font-size: 2rem;
  @include tablet {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}

h3,
h4,
h5,
h6 {
  font-size: 1.6rem;
  font-weight: bold;
}

header {
  @include flexbox(row);
  @include flex(flex-end, center);
  padding: 0.5rem 1rem;
  background: $color-primary;
  @include tablet {
    @include flexbox(column);
  }
}

main {
  @include flexbox(column);
  @include flex(center, center);
  // height: 80%;
  width: 100%;
  background: $color-secondary;
  @include tablet {
    // height: 95%;
  }
}

section {
  @include flexbox(column);
  @include flex(center, center);
  padding: 1rem;
  border-radius: 10px;
  background: $color-quinary;
  font-size: 1.5rem;
  width: auto;
  @include tablet {
    width: 80%;
    > h4 {
      text-align: center;
    }
  }
}

article {
  padding: 2rem;
}

footer {
  @include flexbox(row);
  @include flex(center, space-around);
  // height: 10%;
  background: $color-primary;
}

li {
  line-height: 3rem;
}
